@{
    Layout = "~/Views/Shared/_MasterLayout1.cshtml";
}


<html>
<head>
    <title>Welcome page: prompt</title>
</head>
<body>
    <script language="javascript">
        var Ten, Tuoi;


        Ten = prompt("Hay nhap ten cua ban: ", "")
        Tuoi = prompt("Hay nhap tuoi cua ban: ", "")


        window.document.write("Hello <b>" + Ten + "</b> <br/>")
        window.document.write("Tuoi cua ban la: " + Tuoi)


    </script>
</body>
</html>