@{
    Layout = "~/Views/Shared/_MasterLayout1.cshtml";
}
<style>
    section#banner {
        background-image: url(https://www.acfc.com.vn/media/shopbybrand/brand/image/n/i/nike-thumbnail-brand-page.png);
        background-size: cover;
        height: 400px;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.banner-content h2 {
        font-size: 36px;
        color: red;


    }
    div.banner-content p {
        color:wheat;
    }
    .banner-content {
        text-align:center;
    }
    .bannner-btn{
        background-color:black;
        color: white;
        padding:4px;
        text-decoration:none;
        font-weight:bold;
    }
</style>

<section id="banner">
    <div class="banner-content">
        <h2>NIKE</h2>
        <hr style="border: 2px solid blue;width:5%"/>
        <p>Though the human foot can adapt to varied terrains and climate conditions, it is vulnerable, and shoes provide protection. Form was originally tied to function, but over time, shoes also became fashion items.</p>
        <a href="#" class="bannner-btn">SHOP THE COLLECTIONS <i class="fa fa-caret-right" aria-hidden="true"></i></a>
    </div>
</section>
<section id="content">

</section>
