@{
    Layout = "~/Views/Shared/_MasterLayout1.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    section#contact {
        height: 1000px;
        background-image: url(https://marketplace.canva.com/EAE_zqQhT9s/1/0/900w/canva-blue-gradient-phone-wallpaper-Ba3gAikj4nM.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #content {
        margin: auto;
        width: 50%;
        border: 10px solid #00FFFF;
        padding: 50px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        text-align: center;
        background-color: #3457D5;
    }
   
    #content h2{
        font-size: 46px;
        font-weight: bold;
        
        
    }
    form#contact_form table {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .type {
        width: 350px;
        margin-bottom: 30px;
        padding: 8px;
        background-color: transparent;
        border: 0px solid;
        border-bottom: 2px solid;
        color: #CCC;
    }
    .btn {
        border-color: white;
        background-color: #3457D5;
        padding: 10px 33px;
        border-width: 5px;
        border-block-style: solid;
        color: white;
        font-weight: bold;
        border-width: 3px;
    }

    
</style>
<body>

<section id="contact">
    <div id="content">
        <form id="contact_form">
            <h2>CONTACT US</h2>
            <p>Nếu có thắc mắc về sản phảm hãy gửi qua form này </p>
            
            <input type="text" id="user-contat-name" class="type" name="user-contact-name" value="Your Name" maxlength="50" max="30";"/>
            <br/>

            <input type="text" id="user-contat-mail" class="type" name="user-contact-mail" value="Your Mail" maxlength="50" max="30" />
            <br />

            <input type="text" id="user-contat-message" class="type" name="user-contact-message" value="Your Message" />
            <br />

            <input type="button" id="user-contat-btn" class="btn" name="user-contact-btn" value="SUBMIT" onclick="test()"/>
        </form>
    </div>
</section>

</body>
