<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-6708177318840573">
    <link rel="stylesheet" href="~/Scripts/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="apple-touch-icon" sizes="114x114" href="${resource(dir: 'images', file:
'apple-touch-icon-retina.png')}">
    <title>LOUIS VUITTON - Official International Website</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6708177318840573"
            crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>

    
    

<body>
    <header>
        <nav id="navbar" class="navbar">
        <ul>
            <li><i class="fa-solid fa-bars" id="menu_icon"></i></li>
            <li><a href="#" class="nav-hid">Menu</a></li>
            <li><i class="fa-solid fa-magnifying-glass" id="search_icon"></i></li>
            <li><a href="#" class="nav-hid">Search</a></li>
        </ul>
        <a href="#" class="brand">Louis Vuitton</a>
        <ul>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">My LV</a></li>
        </ul>
    </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
