
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>home</title>
</head>
<body>
    <a href="~/Home/home" title="contact">Home</a>
    <a href="~/Home/contact" title="contact">Contact</a>
    <a href="~/Home/product" title="contact">Product</a>
    
</body>
</html>
