
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Intro</title>
</head>
<body>
    <p>Intro</p>
    <a href="~/Home/home" title="Home">Home</a>
    <a href="~/Home/contact" title="Contact">Contact</a>
    <a href="~/Home/product" title="Product">Product</a>
    <a href="~/Home/New" title="New">New</a>
    
</body>
</html>
