
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Bài tập 2</title>

</head>
<body>
    <ul>
        <li>(6x<sup>3</sup>+5<sup>2</sup>x<sup>4</sup>)2+5=0</li>
        <li>Axit sulfuric: H<sub>2</sub>SO<sub>4</sub></li>
    </ul>

</body>
</html>
