@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bai3</title>
</head>
<body>
    <table border="1" width="800">
        <tr>
            <th colspan="5">Thông tin sinh viên</th>
        </tr>
        <tr>

            <td rowspan="4" width="20%">
                <img width="240" src="https://thanglongosc.edu.vn/wp-content/uploads/2016/08/tuyen-nhan-vien-tu-van-xuat-khau-lao-dong.jpg" title="Trò chuyện">
            </td>

            <td>Họ và tên</td>
            <td colspan="3"><b>Nguyễn Văn An</td>
        </tr>
        <tr>
            <td>Mã số sinh viên</td>
            <td><b>19DH110110</td>
            <td>GIỚI TÍNH</td>
            <td><b>NAM</td>
        </tr>
        <tr>
            <td>EMAIL</td>
            <td><b>an@gmail.com</td>
            <td>SỐ ĐIỆN THOẠI</td>
            <td><b>0123456789</td>
        </tr>
        <tr>
            <td>SỞ THÍCH</td>
            <td colspan="3"><b>VIẾT CHƯƠNG TRÌNH </td>
        </tr>

    </table>
</body>
</html>