
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lab01bbaitap4</title>
</head>
<body>
    <table cellpadding="10" cellspacing="30" width="900">
        <tr>
            <th style="color: white;background-color: darkgray" rowspan="5" align="center" valign="middle" width="30%">Học Web Chuẩn</th>
            <th align="left" style="font-size: 23px">VESTIBULUM ULLAMCORPER UT LEO QUIS</th>
            
        </tr>
        <tr>
            <td>Aenean facilisis lectus ante, ut rutrum eros convallis et.</br>Vestibulum ullamcorper ut leo quis tristique. Donec in erat commodo, pharetra purus ac, consectetur lacus. Suspendisse odio sapien, egestas at ex sit amet, molestie sagittis est.</td>
        </tr>


        <tr>
            <td>In id purus imperdiet nisl accumsan scelerisque. Donec nec justo sed enim dapibus rhoncus. Morbi sed elit vitae metus ullamcorper efficitur.</td>
        </tr>
        <tr>
            <td>Fusce aliquam magna id ipsum ultricies interdum. Maecenas nibh risus,</td>
        </tr>
        <tr>
            <td style="border-style: solid; ">DETAIL</td>
            
        </tr>
    </table>
</body>
</html>
