@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Tin tức Việt Nam và thế giới</title>
    <meta name="description" content="Bài tập thực hành lập trình Web buổi 1 bài tập 1">
    <meta name="keywords" content="Lập trình Web cơ bản">
</head>
<body>
    <h1 style="text-align: center;">Dân trí</h1>
    <h3>Tang thương Làng Nủ</h3>
    <p>(Dân trí) - Trong cơn mưa tầm tã, từng thi thể người dân thôn Làng Nủ lần lượt được đưa về. Nơi ấy, tiếng khóc vang lên khắp nơi khi người ở lại phải đau đớn đón nhận tin dữ sau thảm họa lũ quét kinh hoàng.</p>

</body>
</html>