
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lab01bbaitap5</title>
    <style>
        .table1 {
            margin-left: auto; 
            margin-right:auto;
        }
        .table2 {
            margin-left: auto;
            margin-right: auto;
            width: 900px;
            height: 700px;
            color: white;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <h1 style="font-size: 20px; text-align: center">MY PORTFOLIO</h1>
    <hr style="width:5%; text-align: center; border-width: 2px;border-color: dimgray"/>
    <table cellspacing="40" style="color: gray; text-align: center" class="table1">
        <tr>
            <th>All</th>
            <th>Web App</th>
            <th>UI/UX</th>
            <th>Graphics Design</th>
            <th>Mobile App</th>
            <th>Branding</th>
            <th>Marketing</th>
        </tr>
    </table>
    <table cellpadding="5" cellspacing="27  " class="table2">
        <tr>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
        </tr>
        <tr>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
        </tr>
        <tr>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
            <th style="background-color: lightgreen">Học Web Chuẩn</th>
        </tr>
    </table>
</body>
</html>
