
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New</title>
</head>
<body>
    <a href="https://lh5.googleusercontent.com/proxy/jvNQ_2SFAhxFq8W6HZ_UWaXaHG6LmF9ucbg4DcSLFfHBDcZYcH1Y900ZIi_bZ8CClRGsqEbPfKZEET3cRpMYuk__1DkqCiwEpPe4TzGTAnv9aMdIN7LLhg9r-b73bM1mmt0a0TPHMS8iq7QYCrGOH7y-AJfcZi4W2CLbb6Nc9fNqydA1_FMt8ZjX0aYVmrhzl831cey4xpHH4lWUpSOUh4Wzh-6yEPqyLS61-2LjEwewjZf-mMe9Ss2U-04P4fQYT1ea4f4V">Hình 1</a>
    <a href="https://png.pngtree.com/png-vector/20210214/ourmid/pngtree-new-tag-png-image_2920677.jpg">Hình 2</a>
    <a href="~/Home/Intro">Intro</a>
</body>
</html>
