
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrangChu2</title>
    <style>
        body {
            font-family: Roboto, sans-serif;
            background-color: #e2d7aa;
            color: #000000;
        }
        header {
            
            
        }
        #nav-menu {
            display: flex;
            justify-content: center;
        }

            #nav-menu ul {
            }

                #nav-menu ul li {
                    display: inline;
                    margin-right: 20px;
                }

                    #nav-menu ul li a {
                        text-decoration:none;
                        font-size: 18px;
                    }
        #topic-text{
            font-size: 35px;
        }
        #topic-text p{
            text-align: center;
        }
        /*Container*/
        .container {
            display: flex;
            justify-content: space-around;
        }

        .card {
            border: 1px solid #ccc;
            padding: 20px;
            text-align: center;
        }

        img {
            width: 100%;
        }

    </style>
</head>
<body>
    <header>
        <div id="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Portfoli</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div id="topic-text">
            <p>Ancient Architecture</p>
        </div>
    </header>
    <div><img id="acient-img-head" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Chichen_Itza_3.jpg/1200px-Chichen_Itza_3.jpg" /></div>
    <div class="container">

        <div class="card" style="width: 300px;">
            <h2>Ancient Roman Architecture</h2>
            <img style="width: 300px; height:200px;" src="https://www.knowitall.org/sites/default/files/styles/assets_detail/public/kiad7/95a24eaa-5e33-4778-b06c-96654f3dbf87.jpg.webp?itok=qQadb-4G" alt="Ancient Roman Architecture">
            <p>
                Ancient Roman architecture adopted the
                external language of classical Greek architecture for the purposes of the ancient Romans, but grew so different from Greek buildings as to become a new architectural style. The two styles are often considered one body of classical architecture. Roman architecture flourished in the Roman Republic and even more so under the Empire, when the great majority of surviving buildings were constructed. It used new materials, particularly concrete, and newer technologies such as the arch and the dome to make buildings that were typically strong and well-engineered. Large numbers remain in some form across the empire, sometimes complete and still in use.
            </p>
        </div>
        <div class="card" style="width: 300px;">
            <h2>Ancient Greek Architecture</h2>
            <img style="width: 300px; height:200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Parthenon_%2830276156187%29.jpg/300px-Parthenon_%2830276156187%29.jpg" alt="Ancient Greek Architecture">
            <p>
                The architecture of ancient Greece is the Indian architecture is as old as the history of
                architecture produced by the Greek-speaking people (Hellenic people) whose culture flourished on the Greek mainland, the Peloponnese, the Aegean Islands, and in colonies in Anatolia and Italy for a period from about 900 BC until the 1st century AD, with the earliest remaining architectural works dating from around 600 BC.[1] Ancient Greek architecture is best known from its temples, many of which are found throughout the region, mostly as ruins but many substantially intact. The second important type of building that survives all over the Hellenic world is the open- air theatre, with the earliest dating from around 525-480 BC.
            </p>
        </div>
        <div class="card" style="width: 300px;">
            <h2>Ancient Indian Architecture</h2>
            <img style="width: 300px; height:200px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEdfrJSn74Xudro051WZk3WTAAsKNLcILOPQ&s" alt="Ancient Indian Architecture">
            <p>
                the
                civilization. The earliest remains of
                recognizable building activity in the India dates back to the Indus Valley cities. Among India's ancient architectural remains, the most characteristic are the temples, Chaityas, Viharas, Stupas and other religious structures. In ancient India, temple architecture of high standard developed in almost all regions. The distinct architectural style of temple construction in different parts was a result of geographical, climatic, ethnic, racial, historical and linguistic diversities. The Rock-cut structures present the most spectacular piece of ancient Indian art specimen. Most of the rock-cut structures were related to various religious communities.
            </p>
        </div>
    </div>
    <footer>
        <p style="text-align: center; color: black;">© Copyright 2017 - YourSite.com</p>
    </footer>
</body>
</html>
