
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrangChu</title>
    <style>
        body{
            color: #fcfcfc;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #355664;
            
            
        }
        /*header*/
        header {
            text-align: center;
           
        }
        #logo{
            width:300px;
            
        }
        #slogan{
            
            margin-right: 40px;
            float: right;
        }
        #nav-menu{
            
            margin-top: 50px;
        }
        #nav-menu ul{
            
        }
        #nav-menu ul li {
            display: inline;
            margin-right: 20px;

        }
        #nav-menu ul li a{
            
            
        }
        #nav-menu ul li#choice-1 a{
            color: lightblue;
        }
        #nav-menu ul li#choice-2 a{
            color: yellow;
        }
        #nav-menu ul li#choice-3 a {
            color: white;
        }
        /*container*/
        #container-content{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        #photo-shoot-effect {
            background-color: darkslateblue;
            width: 80%;
            
        }
        #text{
            text-align: center;
            font-size: 40px;
            color: white;

        }
    </style>
</head>
<body>
    <header>
        <div id="logoweb"><img id="logo" src="https://media.loveitopcdn.com/3807/logo-coca-cola-vector-dongphucsongphu3.png" /></div>
        <div id="slogan"><p>and a fancy slogan</p></div>
        <div id="nav-menu">
            <ul>
                <li id="choice-1"><a href="#">photoshop</a></li>
                <li id="choice-2"><a href="#">Sweet Tabs</a></li>
                <li id="choice-3"><a href="#">NAVIGATION MENU</a></li>
            </ul>
        </div>
    </header>
    <div id="container-content">
        <div id="photo-shoot-effect">
            <div id="text">
                <p>PhotoShoot Effect</p>
            </div>
            <hr style="width:97%;" />
            <div id="article">
                <table>
                    <tr>
                        <td width="50%">
                            In this tutorial, we are creating a photo shoot effect with our just-released PhotoShoot jQuery plug-in. With it you can convert a regular div on the page into a photo shooting stage simulating a camera-like feel.
                            Potential clients want to see who they'll be working with. They want to hire people, not stock photography. We produced a custom photo shoot to bring the people of Paterson Buchanan front and center and to underscore the firm's open and welcoming style. Vivid images
                            illustrate Paterson Buchanan's wide range of clients, as well as their commitment to the picturesque region the firm serves.
                        </td>
                        <td width="50%" style="text-align: center;"><img style="width:100%;" src="https://img.freepik.com/premium-photo/wide-angle-shot-single-tree-growing-clouded-sky-sunset-surrounded-by-grass_1033124-10.jpg" /></td>
                    </tr>
                </table>
            </div>
        </div>
       
    </div>
    <hr style="width: 80%; border: black solid 3px;" />
    <footer>
        <p style="text-align: center; color: white;">© Copyright 2017 - YourSite.com</p>
    </footer>
</body>
</html>
