@model _23DH113217_MyStore.Models.ViewModel.ProductDetailsVM
@using PagedList.Mvc

<head>
    <style>
        img{
            width: 100%;
        }
        li.fproduct-item{
            
            margin-left: 50px;
        }
        .fproduct-item{
            width: 200px;
            display: inline-block;
        }
    </style>
</head>

@if (Model.RelatedProducts != null && Model.RelatedProducts.Any())
{
<section class="container-fluid featureProd">
    <h4 style="font-weight:bold; font-size: 20px;">Sản phẩm tương tự</h4>
    <ul class="feature-container">
    @foreach (var product in Model.RelatedProducts)
    {
        <li class="fproduct-item">
        <div>
            <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                <img src="@Html.DisplayFor(modelItem => product.ProductImage)" />
            </a>
        </div>
        <div>
            <h5>@Html.DisplayFor(modelItem => product.ProductName) </h5>
            <p class="prodSale">@Html.DisplayFor(modelItem => product.ProductPrice)</p>
        </div>
        </li>
    }
    </ul>
</section>
}